---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
    <h1 class="text-white text-center text-5xl">Houston, tenemos un problema</h1>
    <br />
    <h2 class="text-white text-center text-5xl">404 Página no encontrada</h2>
</Layout>